---
layout: default
---
<section class="content" role="main">
  <article class="post">
    {% if page.image %}
    <div class="article-image">
      <div class="post-image-image" style="background-image: url({% if page.image %}{{ page.image }}{% endif %})">
        Article Image
      </div>
      <div class="post-meta">
        <h1 class="post-title">{{ page.title }}</h1>
        {% if page.author and site.authors[page.author] %}
        <div class="cf post-meta-text">
          {% if site.authors[page.author].image %}<div class="author-image" style="background-image: url({{ site.authors[page.author].image }})">Author Image</div>{% endif %}
          <h4 class="author-name">{{ site.authors[page.author].name }}</h4>
        </div>
        {% endif %}
      </div>
    </div>
    {% else %}
    <div class="noarticleimage">
      <div class="post-meta">
        <h1 class="post-title">{{ page.title }}</h1>
        {% if page.author and site.authors[page.author] %}
        <div class="cf post-meta-text">
          {% if site.authors[page.author].image %}<div class="author-image" style="background-image: url({{ site.authors[page.author].image }})">Author Image</div>{% endif %}
          <h4 class="author-name">{{ site.authors[page.author].name }}</h4>
        </div>
        {% endif %}
      </div>
    </div>
    {% endif %}
    <section class="post-content">
      {{content}}
    </section>

    <p><a href="{{ '/' | relative_url }}">Back to home</a></p>
  </article>
</section>
